include *.txt *.ini *.cfg *.rst
recursive-include gengine *.ico *.png *.css *.gif *.jpg *.pt *.txt *.mak *.mako *.js *.html *.xml README alembic alembic/versions/*.py alembic/env.py
recursive-include gengine_quickstart_template *.ini
