.group-assignment {
  width: 100%; }
  .group-assignment * {
    box-sizing: border-box; }
  .group-assignment .side-header {
    font-size: 1.2em;
    font-weight: bold;
    border-bottom: 1px solid #9b9b9b; }
  .group-assignment .users {
    display: inline-block;
    width: calc(50% - 1px);
    border-right: 1px solid #9b9b9b;
    padding-right: 30px; }
  .group-assignment .groups {
    display: inline-block;
    width: 50%;
    padding-left: 30px; }
