{% import 'admin/layout.html' as layout with context -%}
{% extends 'admin/base.html' %}

{% block head_tail %}
  {{ super() }}
  <link href="{{ url_for('static_gengine', filename='admin_layout.css') }}" rel="stylesheet" />
  <script>
      API_BASE_URL = "{{ urlprefix }}";
  </script>
{% endblock %}

{% block tail %}
  {{ super() }}
  <div class="container" id="footer">Gamification-Engine {{gamification_engine_version}} - Built with &#9825; at Gamification-Software.com &copy; 2015-2016</div>
  <script type="text/javascript" src="{{ url_for('static_gengine', filename='api.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static_gengine', filename='admin.js') }}"></script>
{% endblock %}
